.idea
.venv
.env
/atilim-bus-project-firebase-adminsdk-fbsvc-ee84b73e5b.json
/busops-test-firebase-adminsdk-fbsvc-ead980a5f2.json
/bus-ops-test-firebase-adminsdk-fbsvc-eaf99678e6.json
/atilim-bus-project-d4e6b-firebase-adminsdk-fbsvc-1d818c195d.json
__pycache__/
*.py[cod]
*$py.class
.DS_Store